#!/bin/sh
# Gerrit shortcuts
gf() { git fetch origin "$1" && git checkout FETCH_HEAD ; }
gp() { git push -u origin HEAD:refs/for/"$1" ; }

ed() { subl ~/.dotfiles; }

# Get to the top of a git tree
cdp () {
  TEMP_PWD=`pwd`
  while ! [ -d .git ]; do
    cd ..
  done
  OLDPWD=$TEMP_PWD
}

ssh-pw () {
  ssh -o PubkeyAuthentication=no $1
}

keygen () {
  ssh-keygen -t rsa -b 4096 -C $(hostname)
}

verifyCrtCa() {
   openssl verify -verbose -CAfile $1 $2
}

displayCrt() {
  openssl x509 -noout -text -in $1 | less
}

calibrated-brightness() {
  brightness 0.698242
}

remove-ds-store-files() {
  find . -name '.DS_Store' -type f -delete
}

# Execute meta and always exclude the root meta-directory
m() {
  meta --exclude "${PWD##*/}" "$@"
}

me() {
  meta exec --exclude "${PWD##*/}" "$*"
}
